{% extends "layouts/base.html" %}
{% block title %}
    Eliminar tutoria
{% endblock title %}
{% block content %}
    <c-card_basic class="h-auto d-flex flex-column gap-2 mb-2 mb-md-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="d-flex">
            <h3 class="lead m-2">Eliminar tutoria</h3>
        </div>
    </div>
    </c-card_basic>
    <c-form.form>
    <p class="form-text">¿Esta seguro de eliminar esta tutoria?</p>
    <c-form.form-button button_action="delete" />
    </c-form.form>
{% endblock content %}
