{% extends "layouts/base.html" %}
{% block title %}
    Editar Reseña
{% endblock title %}
{% block content %}
    <c-card-basic class="h-auto d-flex flex-column gap-2 mb-2 mb-md-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="d-flex">
            <h3 class="lead m-2">Editar reseña</h3>
        </div>
    </div>
    </c-card-basic>
    <c-form.form>
    <c-form.form-control :field="form.body" />
    <c-form.form-control :field="form.rating" min="0" />
    <c-form.form-button button_action="update" />
    </c-form.form>
{% endblock content %}
