{% extends "layouts/base.html" %}
{% block title %}
    Restablecer contraseña
{% endblock title %}
{% block content %}
    <div class="h-100 d-flex flex-column gap-md-4 gap-2">
        <c-card_basic class="h-auto d-flex flex-column gap-2 justify-content-between">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex w-100">
                <div class="d-flex flex-grow-1">
                    <h3 class="lead m-2">Restablecer contraseña</h3>
                </div>
            </div>
        </div>
        </c-card_basic>
        <c-card_basic class="h-auto d-flex flex-column gap-2 justify-content-between">
        <p class="form-text m-2">
            Le hemos enviado un correo electrónico. Si no lo ha recibido, revise su carpeta de correo no deseado.
        </p>
        </c-card_basic>
    </div>
{% endblock content %}
