{% extends "layouts/base.html" %}
{% block title %}
    Restablecer contraseña
{% endblock title %}
{% block content %}
    {% if token_fail %}
        <p>
            El enlace para restablecer la contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un <a href="{% url "account_reset_password" %}">nuevo restablecimiento de contraseña</a>.
        </p>
    {% else %}
        <c-form url="{% url 'account_reset_password' %}" button="Inicia sesión">
        <c-form-button button_action="confirm" />
        </c-form>
    {% endif %}
{% endblock content %}
