{% extends "layouts/base.html" %}
{% block title %}
    Opciones de perfil
{% endblock title %}
{% block content %}
    <div class="h-100 d-flex flex-column gap-md-4 gap-2">
        <c-card_basic class="h-auto d-flex flex-column gap-2 justify-content-between">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex w-100 ">
                <div class="d-flex flex-grow-1 ">
                    <h3 class="lead m-2">Opciones de cuenta</h3>
                </div>
            </div>
        </div>
        </c-card_basic>
        <c-card_basic class="d-flex flex-column gap-2">
        <a class="btn btn-outline-secondary" href="{% url "account_basic" %}">Cambiar información basica</a>
        <a class="btn btn-outline-secondary" href="{% url "account_email" %}">Cambiar correo electrónico</a>
        <a class="btn btn-outline-secondary"
           href="{% url "account_change_password" %}">Cambiar contraseña</a>
        </c-card_basic>
    </div>
{% endblock content %}
