body {
    margin: 0;
    min-height: 100vh;
}

.layout {
    min-height: inherit;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar content";
}


#aside {
    grid-area: sidebar;
}

#navbar {
    grid-area: navbar;
}

#main {
    grid-area: content;
}


@media screen and (min-width: 767px) {
    .aside {
        position: fixed;
        width: 200px;
        max-height: 93vh;
    }

}


@media screen and (max-width: 767px) {
    .layout {
        grid-template-columns: auto;
        grid-template-rows: 62px 1fr;
        grid-template-areas: "sidebar" "content";
    }
}