body {
    margin: 0;
    min-height: 100vh;
}

.layout {
    min-height: inherit;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 15% 1fr;
    grid-template-areas: "sidebar navbar" "sidebar content";
}

.layout-no-auth {
    min-height: inherit;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content";
}

#aside {
    grid-area: sidebar;
}

#navbar {
    grid-area: navbar;
}

#main {
    grid-area: content;
}

@media screen and (max-width: 767px) {
    .layout {
        grid-template-columns: auto;
        grid-template-rows: 10% 10% auto;
        grid-template-areas: "sidebar" "navbar" "content";
    }
}