<div class="d-flex gap-2 align-items-center time-period-item">
    <span class="form-control d-flex justify-content-between">
        <span>{{ period.start_time|time:"g:i A" }} - {{ period.end_time|time:"g:i A" }}</span>
        {% if period.student %}
            <a href="">
                <span class="badge d-flex text-bg-primary text-white align-items-center">{{ period.student.first_name }} {{ period.student.last_name }}</span>
            </a>
        {% else %}
            <span class="badge d-flex text-bg-secondary text-white align-items-center">Disponible</span>
        {% endif %}
    </span>
    <div>
        <form action="{% url 'delete_timetable' period.id %}">
            {% csrf_token %}
            <button class="btn btn-outline-danger">
                <i class="bi bi-x-circle"></i>
            </button>
        </form>
    </div>
    <div>
        <a href="{% url "edit_timetable" period.pk %}"
           class="btn btn-outline-primary"><i class="bi bi-pencil"></i></a>
    </div>
</div>
