{% extends "layouts/base.html" %}
{% block title %}
    Inicio de Sesión
{% endblock title %}
{% block content %}
    <div class="h-100 d-flex flex-column gap-md-4 gap-2">
        <c-card_basic class="h-75 d-flex flex-column gap-2 text-center">
        <div>
            <div>
                <img src="{{ user.profile_picture.url }}"
                     alt=""
                     width="120px"
                     height="120px"
                     class="rounded-circle border border-2 border-primary-subtle p-1">
            </div>
            <h4 class="primary mb-0">{{ user.first_name }} {{ user.last_name }}</h4>
            <div class="fs-6 fw-lighter">{{ user.email }}</div>
            <div>
                <span class="badge rounded-pill text-white bg-primary">
                    {% if user.is_tutor %}
                        Tutor
                    {% else %}
                        Estudiante
                    {% endif %}
                </span>
            </div>
            <div class="text-primary">
                {% for star in stars %}
                    {% if star == 1 %}
                        <i class="bi bi-star-fill"></i>
                    {% elif star == 0.5 %}
                        <i class="bi bi-star-half"></i>
                    {% else %}
                        <i class="bi bi-star"></i>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="fs-6 fw-lighter">
                {% if there_is_ratings %}
                    {{ avg_rating }} Estrellas
                {% else %}
                    Este usuario no ha recibidio reseñas
                {% endif %}
            </div>
        </div>
        <div class="flex-grow-1 bg-primary-subtle  rounded-2 text-start p-2">
            <p>
                {% if user.description %}
                    {{ user.description }}
                {% else %}
                    {% if request.user.pk == user.pk %}
                        ¡Aun no tienes una descripción, escribe una para que los demas usuarios sepan acerca de ti!
                        <br>
                        <a href="{% url "options" %}">¡Toca aqui para agregar una!</a>
                    {% else %}
                        Este usuario no ha establecido una descripcion
                    {% endif %}
                {% endif %}
            </p>
        </div>
        <div>
            {% if not user == request.user %}
                <a class="btn btn-outline-primary"
                   href="{% url "get_or_create_chat_thread" user.pk %}">
                    <i class="bi bi-chat-dots"></i> Contactar
                </a>
                <a class="btn btn-outline-secondary"
                   href="{% url "timetable" user.pk %}">
                    <i class="bi bi-calendar"></i> Ver horario
                </a>
            {% endif %}
        </div>
        </c-card_basic>
        <c-card_basic class="h-auto d-flex flex-column gap-2">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex">
                <h3 class="lead m-2">Reseñas ({{ reviews_count }})</h3>
            </div>
            {% if not request.user.pk == user_id %}
                <a href="{% url "review_create" user_id %}"
                   class="btn btn-primary text-white">Crear reseña</a>
            {% endif %}
        </div>
        </c-card_basic>
        <div class="d-flex flex-column gap-2">
            {% for review in page_obj %}
                <c-card_basic class="h-auto d-flex flex-column gap-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex gap-2">
                        <a href="{% url "profile" review.author.pk %}">
                            <img src="{{ review.author.profile_picture.url }}"
                                 alt=""
                                 width="50px"
                                 height="50px"
                                 class="rounded-2">
                        </a>
                        <div class="d-flex flex-column ">
                            <div>
                                {{ review.author.first_name }} {{ review.author.last_name }} <span class="badge rounded-pill text-white bg-primary">
                                {% if user.is_tutor %}
                                    Tutor
                                {% else %}
                                    Estudiante
                                {% endif %}
                            </span>
                        </div>
                        <div>{{ review.author.email }}</div>
                    </div>
                </div>
                {% if request.user == review.author %}
                    <div class="dropdown">
                        <button class="btn"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url "review_update" user_id review.pk %}"
                                   class="dropdown-item">Editar reseña</a>
                            </li>
                            <li>
                                <a href="{% url "review_delete" user_id review.pk %}"
                                   class="dropdown-item">Eliminar reseña</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <p>{{ review.body }}</p>
            <div class="d-flex justify-content-between">
                <span class="form-text">{{ review.created_at }}</span>
                <div class="text-primary">
                    {% for star in review.stars %}
                        {% if star == 1 %}
                            <i class="bi bi-star-fill"></i>
                        {% elif star == 0.5 %}
                            <i class="bi bi-star-half"></i>
                        {% else %}
                            <i class="bi bi-star"></i>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            </c-card_basic>
        {% empty %}
            <c-card_basic class="h-auto d-flex flex-column gap-2">
            <div>Este usuario no tiene reseñas.</div>
            </c-card_basic>
        {% endfor %}
    </div>
    <c-pagination />
</div>
{% endblock content %}
