<button type="button"
        class="btn p-0"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal">{{ button }}</button>
<div class="modal fade"
     id="exampleModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body"
                 hx-get="{{ url }}"
                 hx-trigger="revealed"
                 hx-target="#formModalContent"
                 hx-select="#formModal">
                <div id="formModalContent">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Cargando...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
